@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2{
    margin:20px;
    color: white;
    font-size: 5em;
}

body {
  background: #9bd2e8;
  font-family: "Montserrat", sans-serif;
  /* width: 100%;
  height: auto; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav{
  background: hotpink;
  height:12vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;

}

ul{
  display: flex;
  flex-direction: row;
  /* padding:0 70vw; */
}


li{
  padding: 0 25px;
  /* margin: 0 50px; */
}

a{
  text-decoration: none;
  color:rgb(120, 24, 104);
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
  
.hover-link {
  text-decoration: none;
  color:rgb(120, 24, 104);
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s, transform 0.3s; /* Transition duration for color and transform properties */
}

#logo_card{
  height:100px;
  width: 100px
}

.hover-link:hover {
  color: rgb(255, 255, 255); /* Color on hover */
  transform: scale(1.5); /* Zoom effect on hover */
}


li {
  list-style: none;
}

.container{
  display: flex;
  flex-direction: column;
  padding:1.5em;
  align-items: center;
  justify-content: center;
}

b{
  color:white;
}

.card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(255, 255, 255,0.5);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100px;
  max-height: 100px;
}

.content {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 1.02em;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #23527c;
}